<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<title>Customer Manager</title>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer: ${customerList}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.address}"></td>
        <td>
            <a th:href="@{/edit/{id}(id=${customer.id})}">Edit</a>

            <a th:href="@{/delete/{id}(id=${customer.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>